<!--<div class="row justify-content-center">
  {{ range .Site.Data.dates}}
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />

    <h3><a href="{{.post1}}">{{ .posttitle1 }}</a></h3>
    <h3><a href="{{.post2}}">{{ .posttitle2 }}</a></h3>
    <h3><a href="{{.post3}}">{{ .posttitle3 }}</a></h3>
    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">{{.DateNumber}}</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">{{.DateNumber}}</button>
    </div>
  </div>
  {{ end}}
</div> -->

<div class="row justify-content-center">
  <div class="wrapper">
    <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
    {{ with .Site.GetPage "/" }}
    <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
    {{ end }}

    <div id="left-door" class="door">
      <p style="font-size: 40px; z-index: 1">11</p>
      <div class="shape"></div>

      <div class="shape"></div>
      <div id="left-knob" class="knob"></div>

      <button class="btn-date">11</button>
    </div>
  </div>
</div>
