<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center width50" >

    
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo"><img src="/assets/img/logo2.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create-calender">calender</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://twitter.com/gopher_advent" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.linkedin.com/company/gopher-advent" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>

  </div>

</header><!-- End Header -->