<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
      {{ partial "header.html" . }}
      <!-- Modal show message (Addeed by Pranto for #exampleModalLabel)-->
      <body>
      {{ partial "header.html" . }}
      
      <main id="main">
        
        <section
          id="calender"
          class="calender"
          style="
            background-image: url('/assets/img/hero-bg.jpg');
            background-size: cover;
          "
        >
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <img src="/assets/img/logo.svg" alt="" />
              <p>Knock on the door.</p>
              <h2>GOOPHER Advant Calender</h2>
            </div>
            <div class="row justify-content-center">
              <div class="wrapper">
                <img src="/assets/img/dates/1-18.png" alt="" class="door-img" />
                
                {{ range .Pages }}
                <h3><a href="{{.Permalink}}"> {{.Title}} </a></h3>
                {{ end }}
            
                <div id="left-door" class="door">
                  <p style="font-size: 40px; z-index: 1">11</p>
                  <div class="shape"></div>
            
                  <div class="shape"></div>
                  <div id="left-knob" class="knob"></div>
            
                  <button class="btn-date">11</button>
                </div>
              </div>
            </div>
          </div>
          
        </section>
        <!-- End calender Section -->
        
      </div>
      </main>
      <!-- End #main -->
    
      {{ partial "footer.html" . }}
      <script src="/assets/js/snow.js"></script>
  </body>
</html>
