<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body >
    {{ partial "header.html" . }}
    <section id="hero" class="d-flex align-items-center">
      <div
        class="container d-flex flex-column align-items-center"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
      {{.Content}}
      </div>
      
    </section>
    
    {{ partial "footer.html" . }}
  </body>
</html>
